@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ionicon-stroke-width: 32px;
  --ion-color-primary: #fff;
  --ion-color-secondary: #000;
  --ion-color-tertiary: #f4a942;
  --ion-color-success: #10dc60;
  --ion-color-warning: #ffce00;
  --ion-color-danger: #f14141;
  --ion-color-light: #f4f5f8;
  --ion-color-medium: #989aa2;
  --ion-color-dark: #222428;
}
